<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">
        Recipe Book
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active" (click)="onSelect('recipe')">Recipes</a>
            <a href="#" class="nav-item nav-link" (click)="onSelect('shopping-list')">Shopping List</a>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Sava Data</a>
                <a class="dropdown-item" href="#">Fetch Data</a>
            </div>
        </div>

        <!-- <div class="navbar-nav ml-auto">
            <a href="#" class="nav-item nav-link">Login</a>
        </div> -->
    </div>

</nav>